.highlight {
  color: var(--green);
  font-weight: bold;
}

.links {
  position: fixed;
  bottom: 0px;
  height: 100vh;
  z-index: 999;
  left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menus {
  position: fixed;
  height: 100vh;
  z-index: 999;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.link-brasil {
  background: url('./../imgs/brazil.png') no-repeat;
}

.link-eua {
  background: url('./../imgs/eua.png') no-repeat;
}

.link-insta {
  background: url('./../imgs/instagram.png') no-repeat;
}

.link-git {
  background: url('./../imgs/github.png') no-repeat;
}

.link-linked {
  background: url('./../imgs/linkedin.png') no-repeat;
}

.link-tel {
  background: url('./../imgs/phone.png') no-repeat;
}

.link-email {
  background: url('./../imgs/email.png') no-repeat;
}

.bigline {
  width: 1px;
  height: 10px;
  background-color: var(--green);
  margin: auto;
  height: 100%;
}

.smallline {
  width: 1px;
  height: 30px;
  background-color: var(--green);
  margin: auto;
}

.link-icon {
  background-size: 100%;
  width: 36px;
  height: 36px;
  border: none;
  cursor: pointer;
}

.link-icon:hover span {
  display: inline-block;
}

.link-icon span {
  display: none;
  margin-left: 50px;
  margin-top: 2px;
  background-color: var(--green);
  padding: 5px 15px;
  font-weight: bold;
  font-size: 14px;
}

.menu-icon {
  border-radius: 50%;
  background-color: var(--green);
  font-size: 18px;
  text-align: center;
  padding: 6px 7px;
  color: #02132b;
}

.menu-icon:hover span {
  display: inline-block;
}

.menu-icon span {
  position: absolute;
  right: 50px;
  margin-top: -2px;
  display: none;
  background-color: var(--green);
  padding: 5px 15px;
  font-weight: bold;
  font-size: 14px;
  text-align: right;
}

.vertical-label {
  transform: rotate(270deg);
  display: block;
  width: 82px;
  color: var(--green);
  position: absolute;
  left: -25px;
  top: 45vh;
}

.page-title {
  color: var(--gray);
  font-weight: bold;
  padding: 10px 0px;
  margin-bottom: 20px;
}

.page-title svg {
  color: var(--green);
  padding-right: 10px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .links {
    display: none;
  }

  .menus {
    display: none;
  }
}