#home {
    height: 100vh;
}

.home-hello {
    margin: auto;
}

.home-pre-name {
    display: block;
    font-size: 16px;
}

.home-name {
    display: block;
    font-size: 48px;
    font-weight: bold;
    color: var(--white);
}

.home-pos-name {
    display: block;
    font-size: 16px;
    padding: 5px 0px 5px 0px;
}

.home-desc {
    color: var(--gray);
}

.home-resume {
    margin-top: 20px;
}

.home-download {
    cursor: pointer;
    border: 1px solid var(--green);
    color: var(--green);
    border-radius: 5px;
    padding: 25px 0px;
    text-align: center;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .home-hello {
        padding-top: 25vh;
        margin: 0px 20px;
    }

    .home-download {
        width: 100%;
    }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .home-hello {
        padding-top: 30vh;
        margin: 0px 20px;
    }

    .home-download {
        width: 320px;
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) {
    .home-hello {
        padding-top: 32vh;
        width: 50%;
        margin: auto;
    }

    .home-download {
        width: 220px;
    }
}