#home {
    height: 100vh;
}

.home-hello {
    margin: auto;
    padding-top: 100px;
    margin: 0px 50px;
}

.home-pre-name {
    display: block;
    font-size: 16px;
}

.home-name {
    display: block;
    font-size: 48px;
    font-weight: bold;
    color: #e2e2e2;
}

.home-pos-name {
    display: block;
    font-size: 16px;
    padding: 5px 0px 5px 0px;
}

.home-desc {
    color: #c4c4c4;
}

.home-resume {
    margin: 50px 0px 25px 0px;
}

.home-download {
    cursor: pointer;
    border: 1px solid #00FF77;
    color: #00FF77;
    border-radius: 5px;
    padding: 25px;
    width: 220px;
    text-align: center;
}