.projects-container {
  width: 50%;
  margin: 0px auto 30px auto;
  color: var(--white);
  padding: 0px 10px;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .projects-container {
    width: 85%;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .projects-container {
    width: 90%;
  }
}